<h1>Stupid Coaching</h1>

<div class = 'user'>
  <p><%= @question %></p>
  <p class = 'person'>- You</p>
</div>

<br>

<div class = 'coach'>
  <p><%= @answer %></p>
  <p class = 'person'>- Your Coach</p>
</div>
